<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if page.pagetitle %}
    <title>{{ page.pagetitle }}</title>
    {% else %}
    <title>{{ page.title }} - The Skiff coworking and meeting spaces in Brighton</title>
    {% endif %}
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/plans.css?body=1" rel="stylesheet" type="text/css" media="all">
    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>

    <!-- <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div> -->

    <div class="container">

    {{ content }}

      <div class="row">
        <div class="span2">
          <h4>Contact Us</h4>
          <div id="" class="vcard">
            <div class="org">The Skiff</div>
            <div class="adr">
              <div class="street-address">6 Gloucester Street</div>
              <span class="locality">Brighton</span>
              <span class="postal-code">BN1 4EW</span><br />
              <span class="country-name">United Kingdom</span>
            </div>
            <a class="email" href="mailto:hello@theskiff.org">hello@theskiff.org</a>
          </div>
          <p><strong>Open 10am to 6pm Monday to Friday</strong></p>
    
        </div>

            <iframe class="span6" width="360" height="342" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=215008758879610793054.0004ab9ae21f441228ddd&amp;ie=UTF8&amp;vpsrc=6&amp;ll=50.827816,-0.138574&amp;spn=0.005422,0.015407&amp;z=15&amp;output=embed"></iframe>

        <div class="span4">
          <script src="http://widgets.twimg.com/j/2/widget.js"></script>
          <script>
          new TWTR.Widget({
          version: 2,
          type: 'profile',
          rpp: 3,
          interval: 30000,
          width: 'auto',
          height: 250,
          theme: {
          shell: {
          background: '#eeeeee',
          color: '#fd0094'
          },
          tweets: {
          background: '#ffffff',
          color: '#333333',
          links: '#fd0094'
          }
          },
          features: {
          scrollbar: false,
          loop: false,
          live: true,
          hashtags: true,
          timestamp: true,
          avatars: false,
          behavior: 'all'
          }
          }).render().setUser('theskiff').start();
          </script>
        </div>
      </div>
      <hr>
      <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }} a joint venture between <a href="http://wiredsussex.com">Wired Sussex</a> and <a href="http://inuda.org">Inuda Community</a> to support Brighton's creative economy. <a href="https://goodcoworking.com/locations/the-skiff#coworkers">Who ♥'s Coworking at The Skiff?</a>
        </p>
      </footer>

    </div>
    <script src="/assets/themes/twitter/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/themes/twitter/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

    {% include JB/analytics %}
  </body>
</html>
