<div class="clearfix top-nav">
  <a href="/join" class="btn btn-success pull-right">Join</a>
  <ul class="nav nav-pills pull-right">
    <li>
      <a href="/">Home</a>
    </li>
    <li><a href="http://who.theskiff.org">People</a></li>
    <li><a href="/deckplan">Deck Plan</a></li>
    <li><a href="/bookings">Bookings</a></li>
    <li><a href="mailto:hello@theskiff.org">Email Us</a></li>
  </ul>

  {% if page.image %}<div class="home-background">{% endif %}
    {% if page.whitelogo %}
    <a href="/"><img src="/assets/logo_white.png"></a>
    {% else %}
    <a href="/" class="pull-left"><img src="/assets/logo.png"></a>
    {% endif %}
      
    {% if page.image %}
    <h2>{{ page.title }}</h2>
    {% endif %}
  {% if page.image %}</div>{% endif %}
  {% if page.tagline %} <p class="lead pagination-centered">{{ page.tagline }}</p>{% endif %}
  <div class="row">
      {% if page.cta %}
        <div class="span2 offset5">
          <a href="{{ page.ctalink }}" class="btn btn-large btn-success btn-block">{{ page.cta }}</a>
        </div>
      {% endif %}
      {% if page.cta2 %}
        <div class="span2">
          <a href="{{ page.ctalink2 }}" class="btn btn-large btn-block">{{ page.cta2 }}</a>
        </div>
      {% endif %}
      {% if page.cta3 %}
        <div class="span2">
          <p class="lead pagination-centered">
            <a href="{{ page.ctalink3 }}" class="">{{ page.cta3 }}</a>
          </p>
        </div>
      {% endif %}
  </div>
</div>

{% if page.image %}

{% else %}
<h1 class="pull-right">{{ page.title }}</h1>
{% endif %}

{{ content }}
